# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager build output
.build/
.swiftpm/

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/

# Swift / compiler artifacts
*.o
*.dSYM/

/.tickets
